body {
  background-color: #505050;
}
#back-icon {
  margin-left: 20px;
  color: #393A3B;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.well {
  color: #403F3F;
  background-color: #FFFAFA;
  margin: 2% 17% 2% 17%;
  padding: 3% 9% 3% 9%;
  border-radius: 1px;
  box-shadow: none;
}
button, .btn, .btn-default {
  margin-top: 10px;
  background-color: #878787;
  font-size: 19px;
}
